<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>


        <nav class="navbar navbar-expand-lg navbar-dark bg-primary text-center">
                <a class="navbar-brand " href="#">Danh Sách User</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <%if (listUsers.length > 0){%>
                        <table>
                            <thead>
                                <tr>
                                    <th class="text-center" style="color: red;">ID</th>
                                    <th class="text-center" style="color: red;">Username</th>
                                    <th class="text-center" style="color: red;">Password</th>
                                    <th class="text-center" style="color: red;">Fullname</th>
                                    <th class="text-center" style="color: red;">Age</th>
                                    <th class="text-center" style="color: red;">Avatar</th>
                                    <th class="text-center" style="color: red;">Gallery</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%listUsers.forEach(lists => {%>
                                    <tr>
                                        <td style="color: blueviolet;"><strong><%=lists._id%></strong></td>
                                        <td class="text-center"><strong><%=lists.username%></strong></td>
                                        <td class="text-center"><strong><%=lists.password%></strong></td>
                                        <td class="text-center"><strong><%=lists.fullname%></strong></td>
                                        <td class="text-center"><strong><%=lists.age%></strong></td>
                                        
                                        
                                        
                                        <td class="text-center"> <a href="/remove-user/<%=lists.username%>"><button class="btn btn-primary">Xóa</button></a></td>
                                        <td class="text-center"> <a href="/update-user/<%=lists.username%>"><button class="btn btn-danger">Sữa</button></a></td>
                                    </tr>

                                <%})%>
                            </tbody>
                        </table>
                    <%}%>

                </div>
                <div class="col-md-4">
                        <form method="post" 
                        <%if (infoUser){%>
                            action="/update-user/<%=infoUser.username%>"
                        <%}else{%> 
                            action="/add-user"
                        <%}%>
                        >
                            <div class="form-group ">
                                <label class="control-label " for="name">
                                Username
                                </label>
                                <input class="form-control" id="name" name="username" type="text" 
                                value="<%if(infoUser){%><%=infoUser.username%><%}%>"/>
                                </div>
                                <div class="form-group ">
                                <label class="control-label " for="name1">
                                Password
                                </label>
                                <input class="form-control" id="name1" name="password" type="text"
                                value="<%if(infoUser){%><%=infoUser.password%><%}%>"/>
                                </div>
                                <div class="form-group ">
                                <label class="control-label " for="name2">
                                Fullname
                                </label>
                                <input class="form-control" id="name2" name="fullname" type="text"
                                value="<%if(infoUser){%><%=infoUser.fullname%><%}%>"/>
                                </div>
                                <div class="form-group ">
                                <label class="control-label " for="name3">
                                Age
                                </label>
                                <input class="form-control" id="name3" name="age" type="text"
                                value="<%if(infoUser){%><%=infoUser.age%><%}%>"/>
                                </div>

                                <div class="form-group ">
                                    <label class="control-label " for="name3">
                                    Avatar
                                    </label>
                                    <input  name="avatar" type="file"
                                    />
                                    </div>
                                <div class="form-group ">
                                        <label class="control-label " for="name3">
                                        Gallery
                                        </label>
                                        <input  name="gallery" type="file" multiple
                                        />
                                        </div>

                                <div class="form-group">
                                <div>
                                    <%if (infoUser){%>
                                        <button class="btn btn-primary " name="submit" type="submit">
                                            Update
                                        </button>
                                    <%}else{%>
                                <button class="btn btn-primary " name="submit" type="submit">
                                Thêm Người Dùng
                                </button>
                                <%}%>
                                </div>
                                </div>
                            </form>
                </div>

            </div>

        </div>



    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>